<html>
  <head>
    <title>#FILENAME#</title>
  </head>
  <body style="background-color: rgb(90, 40, 50); font-family : Tahoma;">
    <div style="margin: 0.5cm 0.5cm 0.5cm 0.5cm;background-color: rgb(140, 100, 80) ;border-radius: 20px;box-shadow: inset 0 0 7px 5px rgb(255,255,200);
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;">
      <h1 align="center" style = "color : rgb(90, 40, 50);">Class #CLASSNAME#</h1>
      <h4 align="center" style = "color : rgb(90, 40, 50);">Belongs To Namespace : #NAMESPACE#</h4>
      <h4 align="center" style = "color : rgb(90, 40, 50);">Derieves From #DCLASSNAME#</h4>
      <h6 align="right" style = "color : rgb(110, 60, 70); background-color: rgb(255,255,200); margin: 0cm 1cm 1cm 1cm;padding: 0cm 1cm 0cm 1cm;">Last Modified : #LASTMODIFIED#</h6>
  </div>
  <div align = "center" style="box-shadow: inset 0 0 7px 5px rgb(255,255,200); border-radius: 20px ;padding:0.1cm 0.1cm 0.1cm 0.1cm; background-color: rgb(140, 100, 80);margin: 0.5cm 0.5cm 0.5cm 0.5cm;">
      <h3 align = "center "style = "color : rgb(255,255,255);">TODOS INCLUDED : </h3>
      <div style="color: rgb(90, 40, 50); margin: 0cm 0cm 0cm 0cm; padding: 0.2cm 0.2cm 0.2cm 0.2cm">
      #TODOS#
    </div>
  </div>
  <div style=" box-shadow: inset 0 0 7px 5px rgb(255,255,200);border-radius: 20px;background-color: rgb(140, 100, 80);padding: 0.5cm 0.5cm 0.5cm 0.5cm; margin: 0.5cm 0.5cm 0.5cm 0.5cm;">
      <h3 style = "color : rgb(90, 40, 50)"><u>Dependencies :</u></h3>
      #DEPENDENCIES#
      <h3 style = "color : rgb(90, 40, 50)"><u>Member Functions :</u></h3>
      #FUNCTIONS#
      <h3 style = "color : rgb(90, 40, 50)"><u>Member Variables :</u></h3>
      #MEMVARS#
  </div>
  </body>
</html>
